/* Основной фон #FFFFFF; */
/* Фон героя и футера #2F303A */
/* Вторичный фон (Наша команда) #F5F4FA */
/* Основной цвет шрифта #757575; */
/* Активный цвет шрифта #2196F3; */
/* Цвет шрифта заголовков #212121 */
/* Доп цвет шрифта герой #FFFFFF, футер rgba(255, 255, 255, 0.6) */

body{
    color:#212121;
    background-color: white;
    font-family: Roboto, sans-serif ;
    letter-spacing: 0.03em;
}

li{
    list-style: none;
}
 /* Header */
 .header-link{
     color:#2196F3 ;
     font-family: Raleway;
     font-size: 26px;
     line-height: 1.19;
     
 }
 .link-item{
     color:#212121;
     background-color: #FFFFFF;
     font-weight: 500;
     font-size: 14px;
     line-height: 1.14;
     letter-spacing: 0.02em;
 }
 .link-item:hover,
 .link-item:focus{
     color: #2196F3;
 }
 .link-nav{
     color:#757575 ;
 }
 .link-nav:hover,
 .link-nav:focus{
     color: #2196F3;
 }    
 
 /* Hover */
 .hover-section{
     background-color:#2F303A ;
 }
 .hover{
     color:#FFFFFF ;
     font-size: 44px;
     line-height: 1.36;
     
     text-align: center;
     letter-spacing: 0.06em;
 }
 .hover-btn{
     color: #FFFFFF;
     background-color: #2196F3;
     font-size: 16px;
     line-height: 1.87;  
     align-items: center;
     text-align: center;
     letter-spacing: 0.06em;
 }

/* Feature */
.featcher{
    color: #212121;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
}
 .feature-section{
     color: #212121;
     font-size: 14px;
     line-height: 1.14;

 }
 .feature-item{
     color: #757575;
     font-size: 14px;
     line-height: 1.71;
   
 }

 /* Team */
 .section-team{
    font-size: 36px;
    line-height: 1.16;
    text-align: center;

 }
 .team{
     background-color:#F5F4FA;
     color: #212121;
     
 }
 .team-item{
     color: #757575;
 }

 /* Footer */
.footer{
    background-color: #2F303A;
}
.footer-link{
    color: #2196F3;
    font-family: Raleway;
    font-size: 26px;
    line-height: 1.19;
}
.footer-address{
    font-family: 'Roboto';
    font-style: normal;
    color: #FFFFFF;
    font-size: 14px;
    line-height: 1.71;
}
.address-link{
    font-family: 'Roboto';
    font-style: normal;
    color: rgba(255, 255, 255, 0.6);
    font-size: 14px;
    line-height: 1.71;
}
.address-link:hover,
.address-link:focus{
    color:rgba(255, 255, 255, 0.6) ;
}

/* Портфолио */
/* Main */
.btn-item{
    color: #212121;
    background-color:#F5F4FA;
}
.btn-item:hover,
.btn-item:focus{
    color: #FFFFFF;
    background-color: #2196F3;
}

.portfolio{
    color: #212121;
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 2.0;
}
.portfolio-text{
    color: #757575;
    font-size: 16px;
    line-height: 1.87;
}